extends ../layout
block content
    .text-center
        .row
            .col-xs-12
                h1.landing-heading Get help with your data analytics projects from our students.
                .big-break

                hr
                .spacer
                h2 What company leaders are saying:
                .spacer
                .row
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/XflHJEC.jpg", alt="Sinclair's Testimonial")
                        p.nonprofit-testimonial-copy Apprenda is thrilled to work with students from the RPI Business Analytics Capstone to enrich our understanding of the data that drives our marketing and sales pipeline management.
                        h3 - Sinclair Schuller, CEO & Co-Founder, Apprenda
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/RhzpeJb.jpg", alt="Peter's Testimonial")
                        p.nonprofit-testimonial-copy RPI students continually blow me away with their ability to just figure-it-out—with it being the extensive set of analytics tools we use to help our clients to reach their goals.
                        h3 - Peter Dean, CEO & Founder, Rendertribe
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/yfPooeq.jpg", alt="Stephanie's testimonial image")
                        p.nonprofit-testimonial-copy RPI students helped us to explore the boundaries of predictive analytics with latest techniques in machine learning
                        h3 - Greg Moran, CEO & Founder, Outmatch
                .spacer
                hr
                .spacer
                h2 Our process:
                .spacer
                .row
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Image of a briefcase')
                        p.large-p You tell us how we can help you. We work with you to develop a one page description.
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Image of people putting their hands together in a huddle')
                        p.large-p Our student teams are matched with your project and together you set milestones and complete your project, progressing with weekly calls.
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='image of two people high-fiving')
                        p.large-p At the end of the project, we will transition knowledge to you in a project summary report and through a final presentation.
                .spacer
                hr
                .spacer
                h2 We can do analytics projects related to:
                .spacer
                .text-center.negative-35
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-android-globe
                        h2.black-text Web Logs
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-card
                        h2.black-text Transactions
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-android-calendar
                        h2.black-text Events
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-box
                        h2.black-text Dashboards
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-list
                        h2.black-text Pipelines
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-people
                        h2.black-text Social
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-settings
                        h2.black-text ...and other analyses
        .spacer
        hr
        .spacer
        .col-xs-offset-0.col-sm-offset-1.text-left.large-p
            h2 Our students help build analytics solutions for:
            .spacer
            ul.large-li
                li.ion-code &thinsp; companies that can provide a stakeholder who can meet with our teams.
                li.ion-code &thinsp; can anonymize data in a way that no sensitive data shared.

            h2 Preference may be given to companies interested hiring our students or interested in membership to one of our analytics centers.
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/companies-form") My company needs analytics help.
