extends ../layout
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3

    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Links
            hr
            table.table.link-table
                tr
                    td.text-center
                        i.fa.fa-windows
                    td
                        a(href='//studio.azureml.net', target='_blank') Microsoft Azure ML Studio
                tr
                    td.text-center
                        i.fa.fa-database
                    td
                        a(href='//community.cloud.databricks.com', target='_blank') Databricks Community Edition
                tr
                    td.text-center
                        i.fa.fa-cubes
                    td
                        a(href='//docs.docker.com/engine/installation/', target='_blank') Get Docker
                tr
                    td.text-center

                        i.fa.fa-github
                    td
                        a(href="//github.com//AnalyticsDojo/materials", target='_blank') AnalyticsDojo Notebooks and Docker Image

    .spacer

    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Whom to contact for what
            table.table.table-stripe
                tr
                    td Support
                    td
                        a(href='mailto:team@analyticsdojo.com') team@analyticsdojo.com
                tr
                    td Get Involved
                    td
                        a(href='https://gitter.im/jkuruzovich' target='_blank') @JasonKuruzovich



