.text-center
    h5 Powered by the #[a(href="http://www.analyticsdojo.com") AnalyticsDojo]. Forked from #[a(href="http://www.freecodecamp.com") FreecodeCamp].

// scripts should be moved here

script(src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer)
script(src="https://cdn.optimizely.com/js/999692993.js")
