nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
         a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='/images/dojo.png', alt='learn analytics at the analytics dojo')
        a.navbar-brand(href="/") #{process.env.CLIENT_SITENAME}
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li
                a(href='/map') Lessons
            li
                a(href="//gitter.im/analyticsdojo/analyticsdojo" target="_blank") Chat
            li
                a(href='/wiki', target='_blank') Wiki
            li
                a(href='/stories') Students
            li
                a(href='/about') About

            if !user
                li
                    a(href='/login') Sign in
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.progressTimestamps.length}&thinsp;]
                li.hidden-xs.hidden-sm.avatar
                  a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
