lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.floo
.flooignore

pm2.js
*.env
pids
logs
results
tmp

npm-debug.log
node_modules
node_modules
.elasticbeanstalk/
.idea
*.iml
.DS_Store
Thumbs.db
main.css

coverage
.remote-sync.json
herokuconfig.sh


*.map

// revision manifest

!server/manifests/README.md




