extends layout
block content
    .text-center
        h1.landing-heading Learn data science step by step.
        .spacer
        .row
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/analyticsdojo/main/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                p.large-p Join a community of data scientists.
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/analyticsdojo/main/landingIcons_learn.svg', alt='Learn to code and analyze data')
                p.large-p Work on data challenges together.
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/analyticsdojo/main/landingIcons_portfolio.svg', alt='Build a portfolio of projects')
                p.large-p Build a portfolio of analytics solutions.
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/analyticsdojo/main/landingIcons_nonprofits.svg', alt='Work on Real Projects')
                p.large-p Work on real data analytics problems.
        .big-break
        .big-break
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2

                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Start learning now!
                .spacer
        hr
        .spacer
        h2 Learn online today:
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4

                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/hHKjwNB.jpg?1", alt="Pranshu Saxena")
                p.testimonial-copy The Program offers a seamless integration of analytical expertise from a management perspective which aligned with my professional interests in predictive analytics and internet marketing strategies on an enterprise level.
                h3 - Pranshu Saxena '15
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/07f/39c/3034988.jpg", alt="Name 2")
                p.testimonial-copy The BSAN program provided me with the tools I needed to succeed in my current role as an Analytics consultant at IBM
                h3 - Christopher Low '14
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/000/1d6/152/33bac3c.jpg", alt="Name 3")
                p.testimonial-copy The Business Analytics program at RPI helped me improve my technical skills to the point where I knew I could help organizations with their data mining needs.
                h3 - Michael Nicholls '15
        .spacer
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href='/stories') See more student profiles
        .spacer
        .spacer
        hr
        .spacer
        h2 Learn powerful skills
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-python
                    h2.black-text Python
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-calculator
                    h2.black-text Statistics
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-speedometer
                    h2.black-text Tableau
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-registered.font-awesome-padding
                    h2.black-text R
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-flash
                    h2.black-text Spark
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Github
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-network
                    h2.black-text Linked Data
        .spacer
        hr
        .row
        .spacer
            h2.black-text Company List
        .spacer
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/nonprofits") Submit your Analytics Project
        .spacer
        hr
        .spacer
        .col-xs-offset-0.col-sm-offset-1.text-left.large-p
            h2 Here's why you should join our data science community right now:
            .spacer
            ul.large-li
                li.ion-code &thinsp; You'll get help in real time from our community chat rooms.
                li.ion-code &thinsp; You'll learn analytics at your own pace, in your browser or on your phone.
                li.ion-code &thinsp; You'll work through our cases, interactive courses and tutorials.
                li.ion-code &thinsp; You'll learn state-of-the-art data science and big data methodologies.
                li.ion-code &thinsp; You'll work on real world data science projects with companies and nonprofits.
                li.ion-code &thinsp; You'll assemble a portfolio of data science solutions.
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Start learning now!
        script.
            challengeName = 'Home'
