extends ../layout-wide-nofooter
block content
  .iframeWrapper
    iframe#wikiFrame(frameborder='no')
    script.
        var lang = window.location.toString().match(/\/\w{2}\//);
        lang = (lang) ? lang[0] : '/en/';
        $('#wikiFrame').attr('src','http://rpi-analytics.github.io/wiki' + lang);
